<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://bootswatch.com/4/superhero/bootstrap.css"
      rel="stylesheet">
    <title>Cupcakes</title>
</head>

<body class="container">

    <h1>Cupcakes</h1>

    <ul class="cupcake-list row">

    </ul>

    <h2>Add a Cupcake</h2>
    <form class="cupcake-form" action="handled by ajax">
        <label for="flavor">Flavor</label>
        <input type="text" id="flavor" name="flavor" required>

        <label for="size">Size</Sabel>
        <input type="text" id="size" name="size" required>   

        <label for="rating">Rating</label>
        <input type="number" max="10" id="rating" name="rating" required>

        <label for="image">Image URL</label>
        <input type="url" id="image" name="image">

        <button type="submit">Add!</button>
    </form>
</body>
<script src="http://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/cupcakes.js"></script>

</html>